<footer class="footer">
  <div class="footer-container container">
    <div class="footer-desktop">
      <nav class="footer-nav">
        <div class="footer-logo">
          <a class="footer-logo-link" href="./" target="_blank">
            <img
              class="footer-logo-yacht"
              src="./img/mobile/logo-mobile@1.png"
              srcset="
                ./img/mobile/logo-mobile@1.png 1x,
                ./img/mobile/logo-mobile@2.png 2x
              "
              alt="logo-yacht"
              width="16"
              height="18"
            />
            Yacht adventures
          </a>
        </div>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#about" class="footer-nav-link">About</a>
          </li>
          <li class="footer-nav-item">
            <a href="#yachts" class="footer-nav-link">Yachts</a>
          </li>
          <li class="footer-nav-item">
            <a href="#reviews" class="footer-nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="footer-social-container">
        <p class="footer-social-text">We in social</p>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-networks-link"
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-networks-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-networks-link"
              href="https://instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-networks-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-networks-link"
              href="https://youtube.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer-networks-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-privacy-container">
      <p class="footer-privacy-text">2023. Yacht Adventures</p>
      <p class="footer-privacy-text">Privacy Police</p>
    </div>
    <div class="footer-blur-background-big"></div>
    <div class="footer-blur-background-small"></div>
  </div>
</footer>

<button onclick="topFunction()" id="myBtn">
  <svg class="top-btn-icon" width="44" height="44">
    <use href="../img/icons.svg#icon-arrow"></use>
  </svg>
</button>

<script>
  window.onscroll = function () {
    scrollFunction();
  };

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
