<footer class="footer">
  <div class="footer-container container">
    <nav class="footer-nav">
      <div class="footer-logo">
        <a class="footer-nav-link" href="./" target="_blank">
          <img
            class="footer-logo-yacht"
            src="./img/mobile/logo-mobile@1.png"
            srcset="
              ./img/mobile/logo-mobile@1.png,
              ./img/mobile/logo-mobile@2.png
            "
            alt="logo-yacht"
            width="16"
            height="18"
          />
          Yacht adventures
        </a>
      </div>
      <ul class="footer-nav-list">
        <li class="footer-nav-item">About</li>
        <li class="footer-nav-item">Yachts</li>
        <li class="footer-nav-item">Reviews</li>
      </ul>
    </nav>
    <div class="social-container">
      <p class="social-text">We in social</p>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-networks-link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-networks-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-networks-link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-networks-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-networks-link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-networks-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-privacy-container">
      <p class="footer-privacy-text">2023. Yacht Adventures</p>
      <p class="footer-privacy-text">Privacy Police</p>
    </div>
    <div class="footer-blur-background"></div>
  </div>
</footer>
