<header class="header">
  <!-- logo -->

  <div class="header-container">
    <a class="link header-logo" href="./index.html">
      <img
        src="../img/mobile/logo-mobile@1.png"
        alt="logo jacht"
        width="16"
        height="18"
      />
      <span class="header-logo-text">YACHT ADVENTURES</span>
    </a>

    <!-- menu open -->

    <button
      class="js-open-menu header-menu-open"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header-menu-open-icon" width="24" height="24">
        <use href="./images/icons.svg#menu-icon"></use>
      </svg>
    </button>

    <svg class="header-underline" width="100%" height="1">
      <use href="./images/icons.svg#icon-underline"></use>
    </svg>
  </div>

  <!-- mobile menu -->

  <div class="menu-container js-menu-container" id="mobile-menu">
    <a class="link header-logo header-logo-menu" href="./index.html">
      <svg class="header-logo-icon" width="16" height="18">
        <use href="./images/icons.svg#header-icon-mob"></use>
      </svg>
      <span class="header-logo-text">YACHT ADVENTURES</span>
    </a>

    <div>
      <svg class="header-underline menu-underline" width="100%" height="1">
        <use href="./images/icons.svg#icon-underline"></use>
      </svg>
    </div>

    <button class="js-close-menu header-menu-close">
      <svg class="header-menu-close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="list header-navigation-list">
        <li class="header-navigation-item">
          <a href="" target="_blank" id="about" class="link header-nav-link"
            >About</a
          >
        </li>
        <li class="header-navigation-item">
          <a href="" target="_blank" id="yachts" class="link header-nav-link"
            >Yachts</a
          >
        </li>
        <li class="header-navigation-item">
          <a href="" target="_blank" id="reviews" class="link header-nav-link"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-light-left"></div>
    <div class="header-light-right"></div>
  </div>
</header>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="js/mobile-menu.js"></script>
