<section>
  <div class="hero">
    <div class="hero-container container">
      <div class="hero-column hero-offer">
        <h1 class="hero-title">
          Explore the High Seas with
          <span class="hero-title-gradient">Our Luxury Yacht</span>
          Rentals
        </h1>
        <p class="hero-text">
          Experience the freedom and luxury of yachting on the open seas. Choose
          from our top-of-the-line yachts and embark on an unforgettable journey
          surrounded by breathtaking views and state-of-the-art amenities.
        </p>
        <div class="hero-interactive">
          <button class="hero-btn hero-btn-bg" type="button">
            Get Started
          </button>
          <a href="" class="hero-btn hero-btn-border"
            ><span class="hero-btn-gradient">Explore</span></a
          >
        </div>
      </div>
      <div class="hero-column">
        <div class="hero-content">
          <div class="hero-clients">
            <div class="hero-clients-row">
              <a href="#review" class="hero-clients-link hero-clients-link-one">
                <picture>
                  <source
                    srcset="
                      ./img/mobile/clients/client-1@1.png 1x,
                      ./img/mobile/clients/client-1@2.png 2x
                    "
                    media="(max-width:767.98px)"
                    type="image/png"
                  />
                  <!-- <source
                      srcset="
                        ./img/mobile/clients/client-1@1.webp 1x,
                        ./img/mobile/clients/client-1@2.webp 2x
                      "
                      media="(max-width:767.98px)"
                      type="image/webp"
                    /> -->
                  <source
                    srcset="
                      ./img/Dekstop/clients/client-1@1.png 1x,
                      ./img/Dekstop/clients/client-1@2.png 2x
                    "
                    media="(min-width:768px)"
                    type="image/png"
                  />
                  <!-- <source
                      srcset="
                        ./img/Dekstop/clients/client-1@1.webp 1x,
                        ./img/Dekstop/clients/client-1@2.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    /> -->
                  <img
                    class="hero-clients-img"
                    width="48"
                    height="48"
                    src="./img/mobile/clients/client-1@1.png"
                    alt="clients photo"
                  />
                </picture>
              </a>
              <a href="#review" class="hero-clients-link hero-clients-link-two">
                <picture>
                  <source
                    srcset="
                      ./img/mobile/clients/client-2@1.png 1x,
                      ./img/mobile/clients/client-2@2.png 2x
                    "
                    media="(max-width:767.98px)"
                    type="image/png"
                  />
                  <!-- <source
                      srcset="
                        ./img/mobile/clients/client-2@1.webp 1x,
                        ./img/mobile/clients/client-2@2.webp 2x
                      "
                      media="(max-width:767.98px)"
                      type="image/webp"
                    /> -->
                  <source
                    srcset="
                      ./img/Dekstop/clients/client-2@1.png 1x,
                      ./img/Dekstop/clients/client-2@2.png 2x
                    "
                    media="(min-width:768px)"
                    type="image/png"
                  />
                  <!-- <source
                      srcset="
                        ./img/Dekstop/clients/client-2@1.webp 1x,
                        ./img/Dekstop/clients/client-2@2.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    /> -->
                  <img
                    class="hero-clients-img"
                    width="48"
                    height="48"
                    src="./img/mobile/clients/client-2@1.png"
                    alt="clients photo"
                  />
                </picture>
              </a>
              <a
                href="#review"
                class="hero-clients-link hero-clients-link-three"
              >
                <picture>
                  <source
                    srcset="
                      ./img/mobile/clients/client-3@1.png 1x,
                      ./img/mobile/clients/client-3@2.png 2x
                    "
                    media="(max-width:767.98px)"
                    type="image/png"
                  />
                  <!-- <source
                      srcset="
                        ./img/mobile/clients/client-3@1.webp 1x,
                        ./img/mobile/clients/client-3@2.webp 2x
                      "
                      media="(max-width:767.98px)"
                      type="image/webp"
                    /> -->
                  <source
                    srcset="
                      ./img/Dekstop/clients/client-3@1.png 1x,
                      ./img/Dekstop/clients/client-3@2.png 2x
                    "
                    media="(min-width:768px)"
                    type="image/png"
                  />
                  <!-- <source
                      srcset="
                        ./img/Dekstop/clients/client-3@1.webp 1x,
                        ./img/Dekstop/clients/client-3@2.webp 2x
                      "
                      media="(min-width:768px)"
                      type="image/webp"
                    /> -->
                  <img
                    class="hero-clients-img"
                    width="48"
                    height="48"
                    src="./img/mobile/clients/client-3@1.png"
                    alt="clients photo"
                  />
                </picture>
              </a>
            </div>
            <p class="hero-clients-subtitle">Our Clients</p>
          </div>
          <div class="hero-content-item">
            <picture>
              <source
                srcset="
                  ./img/mobile/hero/yaht-png@1.png 1x,
                  ./img/mobile/hero/yaht-png@2.png 2x
                "
                media="(max-width:767.98px)"
                type="image/png"
              />
              <!-- <source
                srcset="
                  ./img/mobile/hero/yaht-png@1.webp 1x,
                  ./img/mobile/hero/yaht-png@2.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./img/Dekstop/hero/yaht-png@1.png 1x,
                  ./img/Dekstop/hero/yaht-png@2.png 2x
                "
                media="(min-width:768px)"
                type="image/png"
              />
              <!-- <source
                srcset="
                  ./img/Dekstop/hero/yaht-png@1.webp 1x,
                  ./img/Dekstop/hero/yaht-png@2.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              /> -->
              <img
                class="hero-content-img"
                src="./img/mobile/hero/yaht-png@1.png"
                alt="yahts photo"
                width="287"
                height="167"
              />
            </picture>
          </div>
          <div class="hero-content-description">
            <p class="hero-description-price">$12M</p>
            <p class="hero-description-text">
              Book now and make your dream yacht rental a reality
            </p>
          </div>
          <div class="hero-content-client">
            <picture>
              <source
                srcset="
                  ./img/mobile/hero/man@1.jpg 1x,
                  ./img/mobile/hero/man@2.jpg 2x
                "
                media="(max-width:767.98px)"
                type="image/jpg"
              />
              <!-- <source
                srcset="
                  ./img/mobile/hero/man@1.webp 1x,
                  ./img/mobile/hero/man@2.webp 2x
                "
                media="(max-width:767.98px)"
                type="image/webp"
              /> -->
              <source
                srcset="
                  ./img/Dekstop/hero/man@1.jpg 1x,
                  ./img/Dekstop/hero/man@2.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpg"
              />
              <!-- <source
                srcset="
                  ./img/Dekstop/hero/man@1.webp 1x,
                  ./img/Dekstop/hero/man@2.webp 2x
                "
                media="(min-width:768px)"
                type="image/webp"
              /> -->
              <img
                class="hero-client-img"
                width="133"
                height="133"
                src="./img/mobile/hero/man@1.jpg"
                alt="clients photo"
              />
            </picture>
          </div>
        </div>
        <div class="hero-decor-elements">
          <div class="hero-decor-circle hero-decor-circle-one"></div>
          <div class="hero-decor-circle hero-decor-circle-two"></div>
          <div class="hero-decor-circle hero-decor-circle-three"></div>
        </div>
      </div>
    </div>
  </div>
</section>
