<section class="reviewsblock">
      <h2 class="visually-hidden">long time ago</h2>
  <div class="advanture div-advanture container" id="#review">
    <div class="div-styless-yacht">
      <p class="styless-yacht-task">
        <span class="styless-yacht"> Yacht Advanture </span>take pride in
        providing the best possible service and experience to our customers
      </p>
    </div>
    <div class="div-task-styless">
      <p class="task-styless-our">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
  </div>
  <!-- -----------------"Эти 3 дива ВНИЗУ для разрешения 720 и 375 используются в слайдере!!!"------------------------------------------------------- -->
  <div class="slider auto div-reviewsblock div-block container">
    <div class="slider__img review-people">
      <img
        class="img-people"
        src="./img/Dekstop/clients/client-1@1.png"
        srcset="
          ./img/Dekstop/clients/client-1@1.png 1x,
          ./img/Dekstop/clients/client-1@2.png 2x
        "
        alt="John Wax"
        width="48"
      />
      <h3 class="people-name slider__text">John Wax</h3>
      <p class="people-page slider__text">
        I rented the Lagoon 620 with my family for a week-long vacation and it
        was the best decision ever. The yacht was spacious, comfortable, and
        luxurious, and the crew took care of everything.
      </p>
    </div>

    <div class="slider__img review-people">
      <img
        class="img-people"
        src="./img/Dekstop/clients/client-2@1.png"
        srcset="
          ./img/Dekstop/clients/client-2@1.png 1x,
          ./img/Dekstop/clients/client-2@2.png 2x
        "
        alt="Victoria Romashenko"
        width="48"
      />

      <h3 class="people-name slider__text">Victoria Romashenko</h3>
      <p class="people-page slider__text">
        The Sunseeker Manhattan 66 was the perfect choice for our romantic
        getaway. The yacht was beautifully designed, with all the amenities we
        needed, and the crew was attentive and friendly.
      </p>
    </div>

    <div class="slider__img review-people">
      <img
        class="img-people"
        src="./img/Dekstop/clients/client-3@1.png"
        srcset="
          ./img/Dekstop/clients/client-3@1.png 1x,
          ./img/Dekstop/clients/client-3@2.png 2x
        "
        alt="Ihor Trachuk"
        width="48"
      />
      <h3 class="people-name slider__text">Ihor Trachuk</h3>
      <p class="people-page slider__text">
        The Azimut 80 was the most luxurious yacht I've ever been on. The cabins
        were spacious and elegant, and the outdoor areas were perfect for
        relaxing and entertaining. Worth every penny!
      </p>
    </div>
  </div>
  <!-- ----------------"Эти 3 дива ВНИЗУ для разрешения 1280 статические! ------------>
  <div class="doble-div">
    <div class="div-reviewsblock div-block container">
      <div class="slider__img review-people">
        <img
          class="img-people"
          src="./img/Dekstop/clients/client-1@1.png"
          srcset="
            ./img/Dekstop/clients/client-1@1.png 1x,
            ./img/Dekstop/clients/client-1@2.png 2x
          "
          alt="John Wax"
          width="48"
        />
        <h3 class="people-name slider__text">John Wax</h3>
        <p class="people-page slider__text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </div>

      <div class="slider__img review-people">
        <img
          class="img-people"
          src="./img/Dekstop/clients/client-2@1.png"
          srcset="
            ./img/Dekstop/clients/client-2@1.png 1x,
            ./img/Dekstop/clients/client-2@2.png 2x
          "
          alt="Victoria Romashenko"
          width="48"
        />

        <h3 class="people-name slider__text">Victoria Romashenko</h3>
        <p class="people-page slider__text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </div>

      <div class="slider__img review-people">
        <img
          class="img-people"
          src="./img/Dekstop/clients/client-3@1.png"
          srcset="
            ./img/Dekstop/clients/client-3@1.png 1x,
            ./img/Dekstop/clients/client-3@2.png 2x
          "
          alt="Ihor Trachuk"
          width="48"
        />
        <h3 class="people-name slider__text">Ihor Trachuk</h3>
        <p class="people-page slider__text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </div>
      <!-- ---------------------------------------------------------------------------------------------------------------------------->
    </div>
  </div>
</section>
