<section class="reviewsblock">
    <div class="advanture div-advanture">
        <div class="div-styless-yacht">
        <p><span class="styless-yacht">
         Yacht Advanture
         </span>take pride in providing the best possible service and experience to our customers
         </p>
        </div>
        <div class="div-task-styless">    
        <p class="task-styless-our">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
        </div>

    </div>
    <div class="div-reviewsblock div-block">
        <ul class="ul-review">
            <li class="li-ul-review">
                <div class="review-people">
                    <img 
                    class="img-people"
                    src="./img/Dekstop/clients/client-1@1.png" 
                    srcset="./img/Dekstop/clients/client-1@1.png 1x, ./img/Dekstop/clients/client-1@2.png 2x"
                    alt="John Wax"
                    width="48"
                    >
                </div>
                <h3 class="people-name">
                    John Wax
                </h3>
                <p class="people-page">
                    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything. 
                </p>
            </li>
            <li class="li-ul-review">
            <div class="review-people">
                <img
                class="img-people" 
                src="./img/Dekstop/clients/client-2@1.png" 
                srcset="./img/Dekstop/clients/client-2@1.png 1x, ./img/Dekstop/clients/client-2@2.png 2x"
                alt="Victoria Romashenko"
                width="48" 
                />
            </div>
            <h3 class="people-name">
                Victoria Romashenko
            </h3>
            <p class="people-page">
                The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly. 
            </p>
            </li>
            <li class="li-ul-review">
           <div class="review-people">
                <img
                class="img-people" 
                src="./img/Dekstop/clients/client-3@1.png" 
                srcset="./img/Dekstop/clients/client-3@1.png 1x, ./img/Dekstop/clients/client-3@2.png 2x"
                alt="Ihor Trachuk"
                width="48" 
                />
            </div>
            <h3 class="people-name">
                Ihor Trachuk
            </h3>
            <p class="people-page">
                The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!
            </p>

            </li>
        </ul>

    </div>
</section>
