<section class="servicesblock">
  <div class="servicesblock-container container" id="services">
    <h2 class="services-title visually-hidden">Our Services</h2>
    <ul class="servicesblock-list">
      <li class="services-item hidden-services-card">
        <a href="#rent" class="services-btn">Diving</a>
      </li>
      <li class="services-item hidden-services-card">
        <a href="#rent" class="services-btn">Fishing</a>
      </li>
      <li class="services-item hidden-services-card">
        <a href="#rent" class="services-btn">Sunbathing</a>
      </li>
    </ul>
    <div class="servicesblock-bg-circle"></div>
  </div>
</section>
