<section class="servicesblock">
  <div class="servicesblock-container container" id="services">
    <h2 class="services-title visually-hidden">Our Services</h2>
    <ul class="servicesblock-list">
      <li class="services-item hidden-services-card">
        <button class="services-btn" type="button">
          <a href="#rent">Diving</a>
        </button>
      </li>
      <li class="services-item hidden-services-card">
        <button class="services-btn" type="button">
          <a href="#rent">Fishing</a>
        </button>
      </li>
      <li class="services-item hidden-services-card">
        <button class="services-btn" type="button">
          <a href="#rent">Sunbathing</a>
        </button>
      </li>
    </ul>
    <div class="servicesblock-bg-circle"></div>
  </div>
</section>
