<section>
  <div class="container">
    <div class="block-yahtsblock">
      <div class="slider autoplay distance">
        <!-- <div class="distance"> -->
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-1@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-1@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-1@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">Arrow</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 150px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>48m(155ft)</td>
                  </tr>
                  <tr>
                    <td>BUILDER</td>
                    <td>Admiral</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2021</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>11 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€33,500,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- ---------------------------------------------- -->
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-2@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-2@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-2@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">BENETTI OASIS 40M...</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>41m (133ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>Benetti</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2025</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€23,210,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-3@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-3@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-3@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">BELLE ANNA</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>50m(155ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>ISA</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>12 in 6 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€21,000,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-4@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-4@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-4@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">ELLEN</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>40m (132ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>Perini Navi</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2001 / 2016 (refitted)</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€9,300,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-5@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-5@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-5@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">MIRAGE 401</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>38m (125ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>Gianetti Custom Yachts</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2024</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€13,500,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-6@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-6@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-6@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">KING</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>33m (109ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>Overmarine</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2004 / 2018 (refitted)</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€1,850,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-7@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-7@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-7@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">SALT</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>32m (105ft)</td>
                  </tr>
                  <tr>
                    <td>BUILDER</td>
                    <td>SanLorenzo</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2019</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>11 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€7,800,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-8@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-8@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-8@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">STORM</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>32m (103ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>Overmarine</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2005 / 2022 (refitted)</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>€2,900,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="slider__img common">
          <div class="img-increase">
            <img
              class="slider-images"
              height="268"
              width="322"
              srcset="
                ./img/Dekstop/slider/img-yaht-9@1.jpg 1x,
                ./img/Dekstop/slider/img-yaht-9@2.jpg 2x
              "
              src="./img/Dekstop/slider/img-yaht-9@1.jpg"
              alt="cat"
            />
          </div>
          <div class="general-text-slider">
            <div class="title-text-slider">
              <p class="text-name-yahts">COLLU</p>
              <p class="text-view-yahts">LUXURY YAHTS</p>
            </div>
            <div class="table-text-yahts">
              <table>
                <colgroup>
                  <col style="width: 100px" />
                  <col style="width: 200px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>LENGTH</td>
                    <td>29m (96ft)</td>
                  </tr>
                  <tr>
                    <td>SHIPYARD</td>
                    <td>Ferretti</td>
                  </tr>
                  <tr>
                    <td>BUILT</td>
                    <td>2014</td>
                  </tr>
                  <tr>
                    <td>GUESTS</td>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <td>PRICE</td>
                    <td>$4,300,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
