/* Reset styles */

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  display: inline-block;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

label {
  cursor: pointer;
}
