.div-reviewsblock {
  width: 100%;
}
@media screen and (min-width: 375px) {
  .div-reviewsblock {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .div-reviewsblock {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .div-reviewsblock {
    width: 1280px;
  }
}

.advanture {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .advanture {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .advanture {
    width: 704px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .advanture {
    width: 1280px;
  }
}

.styless-yacht {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .styless-yacht {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}

.styless-yacht-task {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -1.08px;
  font-weight: 500;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .styless-yacht-task {
    font-size: 32px;
    letter-spacing: -1.44px;
    width: 497px;
  }
}

@media screen and (min-width: 1280px) {
  .styless-yacht-task {
  }
}

.task-styless-our {
  color: var(--white-text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 100%;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .task-styless-our {
    font-size: 16px;
    letter-spacing: -0.32px;
    /*width: 273px;*/
    /*height: 110px;*/
  }
}

/* .div-block {

  flex-direction: column;
  height: 208px;
  padding: 24px;

  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .div-block {
    gap: 16px;
  }
} */

@media screen and (min-width: 1280px) {
  .div-block {
    gap: 32px;
    justify-content: center;
    display: flex;
    /*flex-direction: row;*/
  }
}

.div-advanture {
  /*flex-direction: column;*/
  /*padding: 0 20px;*/
  padding-bottom: 40px;
  /*margin-left: auto;
  margin-right: auto;*/
}

@media screen and (min-width: 768px) {
  .div-advanture {
  }
}

@media screen and (min-width: 1280px) {
  .div-advanture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviewsblock > .container {
    padding-bottom: 64px;
  }
}

.review-people {
  margin-bottom: 18px;
  border-radius: 24px;
  background: #1f212d;
  display: flex;
  width: 335px;
  height: 208px;
  padding: 24px 14px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .review-people {
    width: 344px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 8px;
    height: 266px;
  }
}

@media screen and (min-width: 1280px) {
  .review-people {
    display: flex;
    width: 484px;
    /*height: 282px;*/
    padding: 32px;
    gap: 0;
    margin: 0;
  }
}

.people-name {
  color: var(--white, #f6f5ef);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 8px;

  letter-spacing: -0.72px;
}

.people-page {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
}

@media screen and (min-width: 768px) {
  .people-page {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}

.img-people {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.reviewsblock {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .reviewsblock {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .reviewsblock {
    padding-bottom: 164px;
  }
}

.div-styless-yacht {
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .div-styless-yacht {
    padding-bottom: 0;
    /*margin-left: auto;*/
    margin-bottom: 32px;
    /*padding-top: 40px;*/
  }
}

@media screen and (min-width: 1280px) {
  .div-styless-yacht {
    /*padding-bottom: 64px;*/
    margin-bottom: 0;
    padding-top: 0;
  }
}

.div-task-styless {
  width: 100%;
  /*height: 80px;*/
  /*margin-bottom: 40px;*/
}

@media screen and (min-width: 375px) {
  .div-task-styless {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .div-task-styless {
    width: 273px;
    margin-left: auto;
    /*padding-top: 64px;*/
  }
}

@media screen and (min-width: 1280px) {
  .div-task-styless {
    padding-top: 0;
    /*height: 110px;*/
  }
}

/* ------------------------------------------------------------------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reviewsblock .slick-prev:before {
  content: '←';
}

.reviewsblock .slick-prev:before,
.reviewsblock .slick-next:before {
  font-family: 'slick';
  font-size: 0px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(27, 17, 108);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reviewsblock .my-dots {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.reviewsblock .my-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
}

.reviewsblock .my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 15px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.reviewsblock .my-dots li button:hover,
.reviewsblock .my-dots li button:focus {
  outline: none;
}

.reviewsblock .my-dots li button:hover:before,
.reviewsblock .my-dots li button:focus:before {
  opacity: 1;
}

.reviewsblock .my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  content: url('../img/dots.svg');
  text-align: center;
  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reviewsblock .my-dots li.slick-active button:before {
  opacity: 0.75;
  /* color: rgb(135, 19, 19); */
  color: #88b3b9;
}

.reviewsblock .slider {
  width: 335px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 9px;
}

.reviewsblock .slick-prev {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
  width: 50px;
  height: 38px;
}

.reviewsblock .slick-next {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: -1;
  width: 50px;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .reviewsblock .slider {
    width: 704px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: 64px;
  }

  .reviewsblock .my-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .reviewsblock .slick-prev {
    position: absolute;
    top: -450px;
    left: 150px;
    z-index: -1;
    width: 50px;
    height: 38px;
  }

  .reviewsblock .slick-next {
    position: absolute;
    top: -450px;
    right: 450px;
    z-index: -1;
    width: 50px;
    height: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .reviewsblock .slider {
    display: none;

    /* width: 1216px;
        padding: 0;
        margin-left: auto;
        margin-right: auto; */
  }

  .reviewsblock .doble-div {
    display: flex;
  }
}

.doble-div {
  display: none;
}
