.li-ul-review{
    border-radius: 24px;
    background: #1F212D;

    display: flex;
    width: 384px;
    padding: 32px 25px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.ul-review{
    display: flex;
    width: 335px;
    height: 208px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;

}
@media screen and (min-width: 768px) {
     .ul-review{
        display: flex;
        
        flex-direction: column;
        align-items: center;
        gap: 24px;
        
    }

}

@media screen and (min-width: 1280px) {
    .ul-review{
        display: flex;
        width: 384px;
        height: 282px;
        padding: 32px;
        gap: 32px;
        flex-wrap: wrap;
        
    }
}
.div-reviewsblock{
    width: 335px;
    height: 282px;
}
@media screen and (min-width: 768px){
    .div-reviewsblock{
        width: 704px;

    }
}
@media screen and (min-width: 1280px){
    .div-reviewsblock{
        width: 1216px;
    }
}
.advanture{
    width: 335px;
}
@media screen and (min-width: 768px) {
    .advanture {
        width: 704px;

    }
}

@media screen and (min-width: 1280px) {
    .advanture {
        width: 1216px;
    }
}
.styless-yacht{
    font-family: DM Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.08px;
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task-styless-yacht{
    font-family: DM Sans;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -1.08px;
    font-weight: 500;
}
.task-styless-our{
    color: var(--white-text-color #F6F5EF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    
    letter-spacing: -0.28px;
}


.div-block{
       
        
    height: 208px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}
.div-advanture{
    flex-direction: column;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .div-advanture {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1280px) {
    .div-advanture {
        
     
    }
}

.review-people{
    margin-bottom: 18px;
    margin-top: 24px;
   
}
.people-name{
    margin-bottom: 8px;
    color: var(--white, #F6F5EF);
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
   
    letter-spacing: -0.72px;
}
.people-page{
    color: rgba(246, 245, 239, 0.50);
     text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
        /* 16.8px */
    letter-spacing: -0.24px;
}
.img-people{
    margin-left: auto;
    margin-right: auto;
}
.reviewsblock{
    padding-top: 80px;
    padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
    .reviewsblock {
        padding-top: 100px;
        padding-bottom: 100px;
        

    }
}

@media screen and (min-width: 1280px) {
    .reviewsblock {
        padding-top: 164px;
        padding-bottom: 164px;
    }
}
.div-styless-yacht{
    width: 335px;
    height: 116px;
}
@media screen and (min-width: 768px) {
    .div-styless-yacht {
        
        
    }
}

@media screen and (min-width: 1280px) {
    .div-styless-yacht{
        
    }
}

.div-task-styless{
    width: 335px;
    height: 80px;
}
@media screen and (min-width: 768px) {
    .div-task-styless {
    width: 273px;
    height: 110px;
    }
}

@media screen and (min-width: 1280px) {
    .div-task-styless {
       
    }
}
