.div-reviewsblock {
  width: 100%;
}

@media screen and (min-width: 375px) {
  .div-reviewsblock {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .div-reviewsblock {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .div-reviewsblock {
    width: 1216px;
    display: flex;
  }
}
.advanture {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .advanture {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .advanture {
    width: 1216px;
  }
}
.styless-yacht {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.styless-yacht-task {
  font-family: DM Sans;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -1.08px;
  font-weight: 500;
  margin-right: auto;
}
.task-styless-our {
  color: var(--white-text-color #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 100%;

  letter-spacing: -0.28px;
}

.div-block {
  flex-direction: column;
  padding: 24px;

  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .div-block {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .div-block {
    gap: 32px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
}
.div-advanture {
  flex-direction: column;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .div-advanture {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .div-advanture {
  }
}

.review-people {
  margin-bottom: 18px;
  border-radius: 24px;
  background: #1f212d;

  display: flex;
  width: 384px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .review-people {
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .review-people {
    display: flex;
    width: 384px;
  }
}
.people-name {
  color: var(--white, #f6f5ef);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  letter-spacing: -0.72px;
}
.people-page {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.24px;
}
.img-people {
  margin-left: auto;
  margin-right: auto;
}
.reviewsblock {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .reviewsblock {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .reviewsblock {
    padding-bottom: 164px;
  }
}
.div-styless-yacht {
  width: 335px;
  height: 116px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .div-styless-yacht {
    width: 497px;
    height: 114px;
    padding-bottom: 206px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .div-styless-yacht {
  }
}

.div-task-styless {
  width: 335px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .div-task-styless {
    width: 273px;
    height: 110px;
    padding-top: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .div-task-styless {
    padding-top: 0;
  }
}
/* ============================================================== */
