.servicesblock {
  padding-bottom: 80px;
}

.services-item {
  position: relative;
  width: 100%;
  max-width: 335px;
  height: 335px;
  padding: 24px;
  border-radius: 40px;
  margin: 0 auto 24px;
}

.services-item-diving {
  background-image: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    url(../img/mobile/service/img-diving@1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-fiching {
  background-image: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    url(../img/mobile/service/img-fishing@1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-sunbathing {
  background-image: linear-gradient(
      0deg,
      rgba(17, 19, 31, 0.2) 0%,
      rgba(17, 19, 31, 0.2) 100%
    ),
    url(../img/mobile/service/img-sunbathing@1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .services-item-diving {
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      url(../img/mobile/service/img-diving@2.jpg);
  }

  .services-item-fiching {
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      url(../img/mobile/service/img-fishing@2.jpg);
  }

  .services-item-sunbathing {
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 31, 0.2) 0%,
        rgba(17, 19, 31, 0.2) 100%
      ),
      url(../img/mobile/service/img-sunbathing@2.jpg);
  }
}

.services-btn {
  position: absolute;
  left: 24px;
  bottom: 24px;
  background-color: var(--white-bg-color);
  color: var(--dark-text-color);
  padding: 14px 28px;
  border-radius: 100px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.63px;
}
