/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./aboutblock.css');
@import url('./yahtsblock.css');
@import url('./servicesblock.css');
@import url('./rentblock.css');
@import url('./reviewsblock.css');
@import url('./footer.css');

@font-face {
  font-family: 'DM Sans';
  src: url('DMSans-Regular.woff2') format('woff2'),
    url('DMSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('DMSans-Medium.woff2') format('woff2'),
    url('DMSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('DMSans-Bold.woff2') format('woff2'),
    url('DMSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('DMSans-MediumItalic.woff2') format('woff2'),
    url('DMSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --background-color-body: #11131f;
  --background-color-blur: #91afba;
  --background-color-content: #1f212d;
  --primary-accent-color: #93abae;
  --pressed-state-color: #88b3b9;
  --white-text-color: #f6f5ef;
  --primary-gradient: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
}

body {
  font-family: DM Sans, sans-serif;
  color: var(--white-text-color);
  background-color: var(--background-color-body);
}

.text-accent {
  color: transparent;
  -webkit-background-clip: text;
  background-image: var(--primary-gradient);
  font-style: italic;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
